.header_menu {
	background: none;
	background-repeat: none;
	background-color: white;
}
.current_tab_left {
	background-image: none;
	background-repeat: none;
	background-color: white;
}
.current_tab_middle {
	background-image: none;
	background-repeat: none;
	background-color: white;
}
.current_tab_right {
	background-image: none;
	background-repeat: none;
	background-color: white;
}
.other_tab_left {
	background-image: none;
	background-repeat: none;
	background-color: orange;
}
.other_tab_middle {
	background-image: none;
	background-repeat: none;
	background-color: orange;
}
.other_tab_right {
	background-image: none;
	background-repeat: none;
	background-color: orange;
}
.empty_tab_space {
	background: none;
	background-repeat: none;
	background-color: white;
}
.current_tab_label {
	color: orange;
}
.other_tab_label {
	color: white;
}
.header_menu_sub_bar {
	background-color: orange;
	color: white;
}
th, td, body {
	font-family: arial;
}
.title {
	font-family: arial;
}
.item_label {
	font-family: arial;
}
.button {
	font-family: arial;
}
.shortcut_menu_header_left {
	background-image: none;
	background-color: orange;
}
.shortcut_menu_header_middle {
	background-image: none;
	background-color: orange;
}
.shortcut_menu_header_right {
	background-image: none;
	background-color: orange;
}
.shortcut_menu_header_title {
	color: white;
}
.dtg_header {
	background-image: none;
	background-repeat: none;
	background-position: none;
	background-color: orange !important;
}
